*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    background-color: black;
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-left: 5%;
    padding-right: 5%;
}
.logo{
    background-color: yellow;
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo-img{
    height: 60%;
    width:80%;
}
.search{
    background-color: blue;
    width: 30%;
    height: 100%;
} 
.search-bar{
    height: 30px;
    width: 80%;
    background-color: red;
}